logs/
logs/scheduler/2022-11-12/python_operator.py.log
logs/scheduler/2022-11-12/task_dag.py.log
logs/scheduler/2022-11-12/xcom_dag.py.log
.gitignore
dags/__pycache__/1-first_dag.cpython-37.pyc
dags/__pycache__/2-python_operator.cpython-37.pyc
dags/__pycache__/3-xcom_dag.cpython-37.pyc
dags/__pycache__/3.1-xcom_dag.cpython-37.pyc
dags/__pycache__/3.2-xcom_dag1.cpython-37.pyc
dags/__pycache__/4-task_dag.cpython-37.pyc
dags/__pycache__/5-cron_dag.cpython-37.pyc
dags/__pycache__/6.1-dynamic_dag.cpython-37.pyc
dags/__pycache__/6.2-dynamic_dag2.cpython-37.pyc
dags/__pycache__/7-brench_dag.cpython-37.pyc
dags/__pycache__/8-postgres_dag.cpython-37.pyc
dags/__pycache__/9-process_file.cpython-37.pyc
dags/__pycache__/9.1-process_file.cpython-37.pyc
dags/__pycache__/9.2-process_file1.cpython-37.pyc
dags/__pycache__/brench_dag.cpython-37.pyc
dags/__pycache__/cron_dag.cpython-37.pyc
dags/__pycache__/dynamic_dag.cpython-37.pyc
dags/__pycache__/dynamic_dag2.cpython-37.pyc
dags/__pycache__/postgres_dag.cpython-37.pyc
dags/__pycache__/process_file.cpython-37.pyc
dags/__pycache__/process_file1.cpython-37.pyc
dags/__pycache__/proje_variable.cpython-37.pyc
dags/__pycache__/proje.cpython-37.pyc
dags/__pycache__/proje3.0.cpython-37.pyc
dags/__pycache__/proje3.2_insert_postgresql.cpython-37.pyc
dags/__pycache__/proje3.cpython-37.pyc
dags/__pycache__/proje4.0.cpython-37.pyc
dags/__pycache__/proje4.1-bigquery.cpython-37.pyc
dags/__pycache__/proje4.1-cloud_storage.cpython-37.pyc
dags/__pycache__/proje4.2-bigquery.cpython-37.pyc
dags/__pycache__/proje4.2-cloud_storage.cpython-37.pyc
dags/__pycache__/proje4.cpython-37.pyc
.gitignore
.gitignore
a.py
proje_notları.txt
