logs/dag_id=first_dag/run_id=manual__2022-11-12T044513.377125+0000/task_id=extract/attempt=1.log
logs/dag_id=first_dag/run_id=manual__2022-11-12T044513.377125+0000/task_id=load/attempt=1.log
logs/dag_id=first_dag/run_id=manual__2022-11-12T044513.377125+0000/task_id=transform/attempt=1.log
logs/dag_processor_manager/dag_processor_manager.log
logs/scheduler/latest
logs/scheduler/2022-11-10/native_dags/example_dags/example_bash_operator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_branch_datetime_operator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_branch_day_of_week_operator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_branch_labels.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_branch_operator_decorator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_branch_operator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_branch_python_dop_operator_3.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_complex.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_dag_decorator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_datasets.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_external_task_marker_dag.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_kubernetes_executor.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_latest_only_with_trigger.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_latest_only.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_local_kubernetes_executor.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_nested_branch_dag.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_passing_params_via_test_command.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_python_operator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_short_circuit_decorator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_short_circuit_operator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_skip_dag.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_sla_dag.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_subdag_operator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_task_group_decorator.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_task_group.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_time_delta_sensor_async.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_trigger_controller_dag.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_trigger_target_dag.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_xcom.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/example_xcomargs.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/tutorial_dag.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/tutorial_taskflow_api_virtualenv.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/tutorial_taskflow_api.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/tutorial.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/plugins/workday.py.log
logs/scheduler/2022-11-10/native_dags/example_dags/subdags/subdag.py.log
logs/scheduler/2022-11-12/first_dag.py.log